// Paleta kolorów

$color-green: #5e9104;		// do menu i wyróżnienia
$color-facebook: #2198f6;		// do przycisku fejsca po lewej stronie
$color-light: #fff;
$color-dark: #3d3d3d;
$color-filtr: transparentize( #000, 0.5 );
$color-pagin-shadow: #b6aeac;
$color-pagin-mark: #fff;
$color-gray: #eee;
$color-gray-light: #f8f8f8;

.font-green{
	color: $color-green;
	
}

.bg-green{
	background-color: $color-green;
	
}

.font-dark{
	color: $color-dark;
	
}

.font-light{
	color: $color-light;
	
}

.bg-light{
	background-color: $color-light;
	
}

.bg-fb{
	background-color: $color-facebook;
	
}

.bg-gray-light{
	background-color: $color-gray-light;
	
}
