// Predefiniowane klasy

$grid: 1200px;
$bpw: (
	smartfon: 0px,
	tablet: 768px,
	desktop: 1024px,
	large: 1280px,
);

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	cursor: default;
	
}

.regular{
	font-family: 'sen-regular';
	
	&.hand{
		font-family: 'Caveat-Regular';
		
	}
	
}

.bold{
	font-family: 'sen-bold';
	
	&.hand{
		font-family: 'Caveat-Bold';
		
	}
	
}

.hand{
	@extend .regular.hand;
	
}

.pointer{
	&, & *{
		cursor: pointer;
	}
	
}

.grid{
	width: 100%;
	max-width: $grid;
	padding: 0 20px;
	margin:{
		left: auto;
		right: auto;
	};
	
}

a, img{
	display: inline-block;
	
}

.arrow_slide{
	
	.arrow{
		transition: transform .5s ease-out;
		
		&.right{
			margin-right: 10px;
			
		}
		
		&.left{
			margin-left: 10px;
			
		}
		
		&.up{
			margin-top: 10px;
			
		}
		
		&.down{
			margin-bottom: 10px;
			
		}
		
	}
	
	&:hover .arrow{
		
		&.right{
			transform: translateX(10px);
			
		}
		
		&.left{
			transform: translateX(-10px);
			
		}
		
		&.up{
			transform: translateY(-10px);
			
		}
		
		&.down{
			transform: translateY(10px);
			
		}
		
	}
	
}

.tab{
	width: 74px;
	height: 36px;
	height: 74px;
	border-radius: 36px 36px 0 0;
	border-radius: 50%;
	
}

.hitbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	
}

.naglowek{
	font-size: 36px;
	line-height: 1.5em;
	
}

