// Predefiniowane klasy

$grid: 1200px;
$bpw: (
	smartfon: 0px,
	tablet: 768px,
	desktop: 1024px,
	large: 1280px,
);

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	cursor: default;
	line-height: 1.5em;
	
}

.regular{
	font-family: 'sen-regular';
	
	&.hand{
		font-family: 'Caveat-Regular';
		
	}
	
}

.bold{
	font-family: 'sen-bold';
	
	&.hand{
		font-family: 'Caveat-Bold';
		
	}
	
}

.bolder{
	font-family: 'sen-extra-bold';
	
}

.hand{
	@extend .regular.hand;
	
}

.pointer{
	&, & *{
		cursor: pointer;
	}
	
}

.grid{
	max-width: $grid;
	padding: 0 20px;
	
}

a, img{
	display: inline-block;
	
}

.arrow_slide{
	
	.arrow{
		transition: transform .5s ease-out;
		
		&.right{
			margin-right: 20px;
			
		}
		
		&.left{
			margin-left: 20px;
			
		}
		
		&.up{
			margin-top: 20px;
			
		}
		
		&.down{
			margin-bottom: 20px;
			
		}
		
	}
	
	&:hover .arrow{
		
		&.right{
			transform: translateX(10px);
			
		}
		
		&.left{
			transform: translateX(-10px);
			
		}
		
		&.up{
			transform: translateY(-10px);
			
		}
		
		&.down{
			transform: translateY(10px);
			
		}
		
	}
	
}

.tab{
	position: relative;
	width: 74px;
	height: 74px;
	border-radius: 36px 36px 0 0;
	border-radius: 50%;
	
}

.hitbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	
}

.naglowek{
	font-size: 36px;
	line-height: 1.5em;
	
}

.customButton{
	position: relative;
	padding: 0 20px;
	min-width: 170px;
	height: 52px;
	border: {
		style: solid;
		//color: $color-green;
		width: 2px;
		radius: 26px;
	};
	font-size: 16px;
	
	&, &.green{
		border-color: $color-green;
		color: $color-green;
		
	}
	
	&.light{
		border-color: $color-light;
		color: $color-light;
		
	}
	
	&, &.right{
		
		& > .icon{
			margin-right: 30px;
			
		}
		
	}
	
	& > .content{
		
	}
	
}

.customButtonFill{
	position: relative;
	padding-right: 40px;
	min-width: 266px;
	height: 52px;
	border: {
		style: solid;
		color: $color-green;
		width: 2px;
		radius: 26px;
	};
	font-size: 16px;
	transition: padding .3s ease-out;
	
	& > .box{
		padding: 0 20px;
		border-radius: inherit;
		
		& > .icon{
			margin-right: 20px;
			
		}
		
	}
	
	&:hover{
		padding-right: 0;
		
	}
	
}

.customSelect{
	position: relative;
	
	& > .head{
		
		& > .title{
			
		}
		
		& > .icon{
			
		}
		
	}
	
	& > .options{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 10;
		
		& > .option{
			
		}
		
	}
	
	
}

 .customFile{
	
	& > .head{
		
		& > .title{
			
		}
		
		& > .icon{
			
		}
		
	}
	
}

