#cennik{
	
	.tab{
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%,50%);
		background-color: $color-light;
		border-radius: 50%;
		
	}
	
	.table{
		margin-bottom: 30px;
		
		& > .head{	
			
			@media(min-width: map-get( $bpw, tablet ) ){
				
				& > .cell{
					height: 100px;
					
				}
				
			}
			
		}
		
		& > .body{
			
			@media(min-width: map-get( $bpw, tablet ) ){
				& > .cell:not(:first-child){
					border: solid $color-gray;
					border-width: 0 0 1px 1px;
					
				}
				
			}
			
		}
		
		.cell{
			padding: 0 10px;
			height: 200px;
			font-size: 16px;
			border-bottom: solid 1px $color-gray;
			
			@media(min-width: map-get( $bpw, tablet ) ){
				padding: 0 20px;
				
			}
			
		}
		
		.subcell{
			
			&:not(:last-child){
				border-bottom: solid 1px $color-gray;
				
			}
			
		}
		
		.title{
			font-size: 32px;
			
		}
		
		.subtitle{
			font-size:  18px;
			
		}
		
		@media(min-width: map-get( $bpw, tablet ) ){
			margin-bottom: 0;
			
		}
		
	}
	
	& > .top{
		
		& > .box{
			padding:{
				top: 60px;
				bottom: 60px;
				
			};
			
			& > .title{
				margin-bottom: 30px;
				max-width: 620px;
				font-size: 36px;
				
			}
			
		}
		
	}
	
	.more{
		margin-top: 50px;
	}
	
	& > .dorosli,
	& > .podstawowka,
	& > .indywidualne{
		margin-bottom: 100px;
		
		& > .box{
			position: relative;
			padding-top: 40px;
			padding-bottom: 100px;
			
			& > .title{
				margin-bottom: 30px;
				font-size: 36px;
				
			}
			
			& > .subtitle{
				margin-bottom: 100px;
				font-size: 15px;
				
			}
			
			
		}
		
	}
	
}