#fb{
	position: fixed;
	width: 74px;
	height: 74px;
	top: 15%;
	left: 0;
	z-index: 100;
	transition-property: width, transform;
	transition: .3s linear;
	transform-origin: left;
	transform: rotateY(90deg);
	border-radius: 0 36px 36px 0;
	background-color: $color-facebook;
	
	&:hover{
		width: 100px;
		
	}
	
	&.open{
		transform: rotateY(0deg);
		
	}
	
	& > .icon{
		padding-right: 26px;
		
	}
	
}