// Paleta kolorów

$color-green: #5e9104;
$color-green-light: #7cc401;
$color-red: #fe0000;
$color-facebook: #2198f6;
$color-light: #fff;
$color-dark: #3d3d3d;
$color-filtr: transparentize( #000, 0.5 );
$color-pagin-shadow: #b6aeac;
$color-pagin-mark: #fff;
$color-gray-dark: #a8a8a8;
$color-gray: #eee;
$color-gray-light: #f8f8f8;
$color-gray-lighter: #adadad;
$color-ok: hsl(100,60%,50%);
$color-info: hsl(220,60%,50%);
$color-fail: hsl(0,70%,50%);

$generator: (
	dark: $color-dark,
	light: $color-light,
	gray: $color-gray,
	gray-light: $color-gray-light,
	green: $color-green,
	green-light: $color-green-light,
	red: $color-red,
	gray-dark: $color-gray-dark
	
);

@each $name, $color in $generator{
	.font-#{$name}{
		color: #{$color};
		
	}
	
	.bg-#{$name}{
		background-color: #{$color};
		
	}
	
	.border-#{$name}{
		border-color: #{$color};
		
	}
	
	
}